
/* Layout */
.contact-section {
  margin-bottom: 5rem;
}

.contact-row {
  display: flex;
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap;
}

.contact-col {
  flex: 1 1 calc(33.333% - 2rem);
}

/* Box */
.contactBox {
  width: 100%;
  padding: 30px 15px;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Icons */
.contactIcons span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brownColor);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.contactIcons svg {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

/* Text */
.contactBox h5 { font-size: 18px;
  margin: 0;
  font-weight: 500;
}

.contactBox p { font-size: 16px;
  margin: 0;
}

.contactBox a {
  text-decoration: none;
  color: inherit;
}

.contactBox a:hover {
  color: var(--brownColor);
}

/* Responsive */
@media (max-width: 768px) {
  .contact-col {
    flex: 1 1 100%;
  }
}



.contact {
	max-width: 1000px;
}
.contact h2 { font-size: 18px; text-align: center; }

.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  text-align: center;
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
