/*.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}
*/

.bg-default {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.singleBnr { padding:90px 0 50px; min-height: 350px;}
.singleBnr::before { content:""; position: absolute; left: 0; top: 0; background: var(--warmWhite); opacity: 0.2; width: 100%; height:100%; z-index: 1; }
.singleBnr h1 {  }
.singleBnr p {
  font-size: 18px;
  letter-spacing: 0.5px;
  max-width: 950px;
  margin: 0 auto;
}

.singleBnrImg { opacity:0.65; position: absolute; top: 0; left: 0; height: 100%; width: 100%; float: left;}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
 